{
  "USD_JPY": {
    "trade_threshold":0.1,
    "optional_threshold":5.1,
    "stop_loss": 0.3,
    "take_profit": 0.3,
    "time_width": 60,
    "stl_time_width": 60,
    "stl_sleeptime": 7200,
    "units": 10800,
    "step_wise_unit": 1,
    "step_wise_coefficient_threshold": 0.9,
    "timetrend": ["03:00:00", "21:00:00", "22:00:00", "23:00:00"],
    "timetrend_width":1 
  },
  "GBP_JPY": {
    "trade_threshold":0.1,
    "optional_threshold":5.15,
    "stop_loss": 0.3,
    "take_profit": 0.3,
    "time_width": 180,
    "stl_time_width": 60,
    "stl_sleeptime": 25200,
    "units": 30000,
    "step_wise_unit": 3,
    "step_wise_coefficient_threshold": 0.9,
    "trend_time_width": 8,
    "timetrend": ["13:00:00", "14:00:00", "15:00:00", "16:00:00", "17:00:00", "18:00:00", "19:00:00"],
    "timetrend_width": 1
  }
}
